<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="methods" thread-count="3">

    <test name="GetUserWithBook">

        <groups>
            <define name="All"/>
            <define name="Smoke"/>
            <define name="Regression"/>
            <run>
                <include name="All"/>
                <include name="Smoke"/>
                <include name="Regression"/>
            </run>
        </groups>
        <classes>
            <class name="api.test.UserBookTest"/>
            <class name="selenium.listeners.SearchTest"/>
            <class name="selenium.listeners.LoginTest"/>
            <class name="selenide.SearchTest"/>
            <class name="selenide.LoginTest"/>
        </classes>
    </test>
</suite>